{% extends "index.html" %}
{% block content %}
  <div class="card mt-4 p-4 bg-warning">
    <div class="question"><h2>What are we all about you ask?</h2></div>
    <p>Well this page allows you to create a pitch from your category of choice. Trick is, the pitch should not exceed 60 seconds.</p>
    <p>Try it out today, And have fun while at it!</p>
     <p>You also get to:</p>
     <div class="card-content mt-4 pt-2">
        <ul>
          <li>View all your past posts.</li>
          <li>View other people's posts</li>
          <li>Cast a vote on all posts(either a thumbs up or thumbs down!)</li>
          <li>Comment on any pitch you come across in this application.</li>
        </ul>  
      </div>
    </div>  

{% endblock content%}
