{% extends "index.html" %}
{% block content %}
  <div class="card mt-4 p-4 bg-warning">
    <div class="question"><h1>What are we all about you ask?</h1></div>
    <p>Well this page allows you to create a pitch from the category of choice. Trick is, the pitch must not be more than 60 seconds long. You also get to :
      <ul>
        <li>View all your pitches in your Account page.</li>
        <li>View other people's posts</li>
        <li>Cast a vote on all posts(either a thumbs up or thumbs down!)</li>
        <li>Comment on any pitch you come across.</li>
    </div>  

{% endblock content%}
